[submodule "ExampleApp/GrimDawnCharacterRandomizer.github.io"]
	path = ExampleApp/GrimDawnCharacterRandomizer.github.io
	url = https://github.com/EnigmaMachineDev/GrimDawnCharacterRandomizer.github.io
