body {
    background-color: #222222; /* Darker grey background */
    color: #66cc66; /* Softer green text */
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-content {
    background-color: #333333; /* Lighter grey rectangle */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
}

.section {
    margin-bottom: 1.5rem;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2em; /* Ensure container has a minimum height */
}

.reroll-btn {
    background-color: #66cc66; /* Softer green background */
    color: #333333; /* Dark grey text */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

a {
    color: #66cc66; /* Softer green link */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}